.popup-content-contact{
  height: 91%;
  width: 100%;
  background-color: transparent;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex; /*para magdikit si div saka si form in ROW*/
  justify-content: space-evenly;
}

/*MY CONTACT CONTAINER*/
.myContact-container{
  width: 400px;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 50px;
}

.myContact-container a{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease-in-out;
}

.myContact-container a:hover{
  text-decoration: underline;
}

.myContact-container h2{
  font-size: 40px;
}


.myContact-container a img{
  width: 45px;
}

/*FORM*/
form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #d9d0f7;
  height: 80%;
  width: 550px;
  border: 3px black solid;
  border-radius: 20px;
  gap: 15px;
  align-items: center;
}

form div{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 475px;
}

form div input{
  width: 225px;
  background-color: var(--pinkish);
  border: none;
}

.emailInput{
  background-color: var(--pinkish);
  border: none;
  width: 475px;
}

.messageMeInput{
  background-color: var(--pinkish);
  border-radius: 10px;
  border: none;
  width: 475px;
}

.contactBtn{
  background-color: var(--not-so-dark-lavender);
  border: none;
  height: 40px;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  width: 475px;
}

input,
textarea {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: transparent;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.contactBtn:hover {
  background-color: var(--dark-lavender);
}